@using test_work_fin_12.ViewModels
@model CafeVM




<a class="btn btn-primary" asp-controller="Cafe" asp-action="NewCafe">Добавить кафе</a><hr/>

    @{
        foreach (var item in Model.CafeListVM)
        {
           <form asp-controller="Home" asp-action="Rating" method="post" class="form-horizontal">
          <div class="col-sm-4 col-lg-4 col-md-4" style="float: left;"  asp-for="@item.Id" name="id" data-id="@item.Id">
            <div class="product-wrap">
            <div class="product-image">
              <a href=""><img src="../@item.ImageUrl" alt=""/></a>
              <div class="shadow"></div>
              <div class="actions">
                <div class="actions-btn">
                
                  <div class="add-to-links">
                    <div class="add-to-wishlist">
                      <a class="add-to-wishlist-button" href="#" title="Добавить оценку"></a>
                    </div>

                    <div class="quikview">
                      <a class="quikview-button" asp-controller="Cafe" asp-action="Details"  asp-route-id="@item.Id" title="Быстрый просмотр"></a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="product-list">
              <h3 style="font-size: 17pt;">Название кафе: @item.Name</h3>
              <h3>Имя пользователя: @item.User.UserName</h3>
              <h3>Описание: @item.Description</h3>
              <div class="price">@item.Score</div> 
              
          </div>

    <hr />
    <div class="form-group">
        <label asp-for="Rating" class="col-lg-12 col-sm-12 control-label" >Rating</label>
        <div class="col-lg-12">
            <span class="rating">
                @for (int i = 1; i <= 5; i++)
                {
                    var starClass = "star";
                    if (@item.Rating == 6 - i)
                    {
                        starClass += " active";
                    }
                    <span data-value="@(6 - i)" class="@starClass"></span>
                }
            </span>
        </div>
        <input asp-for="Rating" />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" class="btn btn-primary"  value="Submit" />
        </div>
    </div>
        <div>
          @item.Content
        </div>

          </div>
          </div>

              <input name="id" value="@item.Id" type="hidden"/>
              </form>
        }
    }


    
@section Scripts {
<script src="~/js/rating.js"></script>
    
}
